<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Tweeter</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://31.media.tumblr.com/59bc273bd58bf3a3c54fb67074a6e198/tumblr_msiww9AU1H1sh71q7o1_500.gif", alt: "happy tweeter") %>	
